<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DetachExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>detach2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A32A96CF24E32DAD002C1145</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A32A96E524E32DAF002C1145</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A32A96F024E32DAF002C1145</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A392C7E124E449A500D5DAF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
